[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
gunicorn = "*"
djangorestframework = "*"
pandas = "*"
numpy = "*"
scipy = "*"
django-filter = "*"
joblib = "*"
seaborn = "*"
scikit-learn = "*"
djongo = "*"
dnspython = "*"
opencv-python = "*"
pymongo = {version = "==3.12.1", extras = ["srv"]}

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
